<launch>

    <arg name="markerId"        default="1"/>
    <arg name="markerSize"      default="0.1805"/>    
    <arg name="eye"             default="left" />
    <arg name="marker_frame"    default="aruco_marker_frame"/>
    <arg name="ref_frame"       default=""/>  
    <arg name="corner_refinement" default="LINES"/> 

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
       <arg name="color_width" value="1280"/>
       <arg name="color_height" value="720"/>
       <!-- <arg name="enable_depth" value="false"/> -->
    </include>
    
    <include file="$(find jaka_ros_driver)/launch/start.launch"/>

    <node pkg="aruco_ros" type="single" name="aruco_single">
        <remap from="/camera_info" to="/camera/color/camera_info"/>
        <remap from="/image" to="/camera/color/image_raw"/>
        <!-- <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="$(arg ref_frame)"/> 
        <param name="camera_frame"       value="stereo_gazebo_$(arg eye)_camera_optical_frame"/>
        <param name="marker_frame"       value="$(arg marker_frame)"/>
        <param name="corner_refinement"  value="$(arg corner_refinement)"/> -->
    </node> 

    <node pkg="handeye_calibration" type="hand_to_eye_calib.py" name="hand_to_eye_calib" output="screen" respawn="true"/>
        
</launch>
